@* This is the successful login view *@
@{
    ViewBag.Title = "UserLandingView";
}
<header>
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</header>

<h2>Well done ☺</h2>


@*<div class="loginbtn">
        <a href="#" onclick="googleLogout();">Sign Out</a>
    </div>*@
<script type="text/javascript">

</script>
