<link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<h2>SetupAuthentication</h2>
<div>
    @Html.Raw(ViewBag.Message);
</div>

