@model M183.Models.CBUserModel

@{
    ViewBag.Title = "Login";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <br /><br />
        <legend>Log in</legend>
        <form>
            <label>Username</label>
            <input type="text" class="form-control" />
            <br />
            <label>Password</label>
            <input type="password" class="form-control" />
            <br />
            <input type="submit" class="btn btn-primary" />
            <br /><br />
            <div id="my-signin2"></div>
        </form>
    </div>
</div>




