<h2>Well done ☺</h2>
    @using (Html.BeginForm("Logout","Cookie",FormMethod.Post))
    {
        <div class="bs-example">
            
            <div class="logoutbtn">

                <input type="submit" value="Logout" class="btn btn-basic" style="display:block;" />
            </div>
        </div>
    }
