
@{
    ViewBag.Title = "Index";
}

<h2>Encryption</h2>

<h3>@Html.ActionLink("Cesar", "Cesar", "Encryption")</h3>
<h3>@Html.ActionLink("Vigenere", "Vigenere", "Encryption")</h3>
<h3>@Html.ActionLink("OneTimePad", "OneTimePad", "Encryption")</h3>

