
@{
    ViewBag.Title = "Feedback";
}

<h2>Feedback</h2>
<form action="~/SQL_XSS/DoFeedback" method="post">
    <textarea name="feedback" style="display:block; margin-bottom:5px;"></textarea>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

